@model SomeAdvert.Web.Models.Accounts.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>

<h4>Enter your email and confirmation code</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="PostResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ResetToken"></label>
                <input asp-for="ResetToken" class="form-control">
                <span asp-validation-for="ResetToken" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    </div>
</div>
